@import "resets.css";
@import "header.css";
@import "stepper.css";
@import "main.css";
@import "extraSection.css";
@import "formSection.css";
@import "insuranceSection.css";
@import "breadcrumbs.css";
@import "contact.css";
@import "footer.css";


@media (max-width: 1200px) {
    .section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: 0;
    }
      
    .visible {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        position: relative;
    }
      
}


